body {
  width: 95%;
  display: block;
  font-family: 'Roboto', sans-serif;
  background: #009282; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFEF74, #009282); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFEF74, #009282); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFEF74, #009282); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFEF74, #009282); /* Standard syntax */
  font-size:130%;
}
h1,h2,h3{
  font-family: 'Crimson Text', serif;
}
h1 {
  font-size:2.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
}
ul {
  list-style-type: none;
}
ul li ul {
    border-left: 5px solid #FA6900;
    background-color: #A7DBD8;
    list-style-type: none;
    padding: 10px 20px;
}
a {
  color: #F38630;
}
.projectsection {
  color: red;
}
footer {
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 5px;
}
footer p {
  font-size: 100%;
}
.phonenav {
  color: inherit;
  display: block;
}
.phonenav a {
  color: #F38630;
  text-decoration: none;
}
.phonenav a:hover {
  color: #F38630;
}
#face {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 350px;
    padding-left: 20px;
}
#social {
  float: none;
  padding-top: 10px;
}
#copy {
  float: none;
}

/** DESKTOP VIEW **/
@media only screen and (min-width: 892px) {
  #face {
      height: auto;
      width: auto;
      max-width: 650px;
      max-height: 650px;
      padding-left: 0px;
  }
  body {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 100%;
  }
  header{
    width: 25%;
    float: left;
    position: fixed;
  }
  main{
    width: 60%;
    float: right;
  }
  footer {
    border: none;
    position: fixed;
    bottom: 1%;
  }
  footer p {
    padding: 0;
    margin: 0;
  }
  .phonenav {
    display:none;
  }
  h1 {
    margin-bottom:15px;
    margin-top:15px;
  }
}
