body {
  width: 95%;
  display: block;
  font-family: 'Roboto', sans-serif;
  background: #F0EAD6; /* For browsers that do not support gradients */
  /* Used the below for gradients, but keeping as a placeholder */
  background: -webkit-linear-gradient(#F0EAD6, #F0EAD6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F0EAD6, #F0EAD6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F0EAD6, #F0EAD6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F0EAD6, #F0EAD6); /* Standard syntax */
  font-size:130%;
}
section{
  background-color: #d6dcf0;
  padding: 1em;
  margin-top: 1em;
  border-radius: 1em;
}
h1,h2,h3{
  font-family: 'Crimson Text', serif;
}
h1 {
  font-size:2.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
}
ul {
  list-style-type: none;
}
ul li ul {
    border-left: 5px solid #FA6900;
    background-color: #A7DBD8;
    list-style-type: none;
    padding: 10px 20px;
}
nav ul {
    border-left: 5px solid #FA6900;
    list-style-type: none;
    padding: 10px 20px;
}
a {
  color: #000;
}
a:hover {
  color: #3165a3;
}
.projectsection {
  color: red;
}
.resume {
  height: auto;
  max-width: 100%;
}
footer {
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 5px;
}
footer p {
  font-size: 100%;
}
.phonenav {
  color: inherit;
  background-color: #d6dcf0;
  display: block;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.phonenav a {
  color: #000;
  text-decoration: none;
}
.phonenav a:hover {
  color: #3165a3;
}
#face {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 350px;
    padding-left: 20px;
}
#social {
  float: none;
  padding-top: 10px;
}
#copy {
  float: none;
}
#unc {
  color: #7BAFD4;
}
.representation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white; 
  padding: 4px; 
  border: solid;
  width: 75%;
}
.representation p {
  text-align: center;
}
.representation img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.contactform {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/** DESKTOP VIEW **/
@media only screen and (min-width: 892px) {
  #face {
      height: auto;
      width: auto;
      max-width: 300px;
      max-height: 400px;
      padding-left: 0px;
  }
  body {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 100%;
  }
  header{
    width: 25%;
    float: left;
    position: fixed;
  }
  main{
    width: 60%;
    float: right;
  }
  footer {
    border: none;
    position: fixed;
    bottom: 1%;
  }
  footer p {
    padding: 0;
    margin: 0;
  }
  h1 {
    margin-bottom:15px;
    margin-top:15px;
  }
}
